<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuarios/store" method="post">
        <label for="nome">
            <span>Nome:</span>
            <input type="text" name="nome" id="nome">
        </label>
        <label for="email">
            <span>E-mail:</span>
            <input type="text" name="email" id="email">
        </label>
        <label for="senha">
            <span>Senha:</span>
            <input type="text" name="senha" id="senha">
        </label>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>