<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        html{
        height: 100%;
      }
      body{
        margin: 0;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    h2{
        margin: 0;
        padding: 0;
    }
    main{
        width: 400px;
        padding: 50px;
        background-color: indigo;
        border-radius: 8px;
        box-shadow: 5px 5px 5px black;
    }
    form label{
        display: block;
        margin-bottom: 10px;
    }
    .regis{
        color: aliceblue;
       padding: 7px;
       text-align: center;
    }
        
    </style>
</head>
<body>
    
    <main>
        <h2 class="regis">Registre-se</h2>
        <form action="/create" method="post">
            <label>
                <span>Nome</span>
                <input type="text" name="nome">
            </label>
            <label>
                <span>E-mail</span>
                <input type="text" name="email">
            </label>
            <label>
                <span>Senha</span>
                <input type="password" name="senha">
            </label>
            <label>
                <span>Confirmação de Senha</span>
                <input type="password" name="confirmacao">
            </label>
            <label>
                <span>Gênero</span>
                <select>
                    <option selected disabled>Menino ou Menina?</option>
                    <option value="m">Menino</option>
                    <option value="f">Menina</option>
                </select>
            </label>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    
</body>
</html>